h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial';
}

span.bungee { font-family: 'Arial'; }

.app {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #4b4d59;
}

/* .header { font-size: 60px; font-family: 'Bungee', cursive; } */
.subheader { font-size: 20px; font-family: 'Arial'; }

a.link {
  text-decoration: none;
  color: #ff1769;
}

a.link:hover {
  text-decoration: none;
  border-bottom: 2px solid #000;
}


.Chart{
  /* max-width: 50%; */
  width: 100%;
  max-height: 100%;
}

.clientName{
  text-align: left;
  font-size: 60px;
  color:white;
  margin-top: 0;
  padding-top: 0;
  padding-left: 10px;
  /* border-top: 0; */
}

.divided-pane{
  margin:0px auto;
  padding: 5px;
  display: flex;
  flex-flow: row;
}
