.clientInfo{
  color: white;
  text-align: left;
  float: right;
  width: 48%;
  padding-left: 20px;
  display: flex;
}

.data-description{
  color: white;
  text-align: left;
  float: left;
  width: 48%;
  padding-left: 20px;
}

.clientData{
  color: white;
  text-align: left;
  float: right;
  width: 48%;
  padding-left: 20px;
  font-size: 18px
}

.row{
  padding-bottom: 10%;
}

.number{
  text-align: center;
}

button{
  color: white;
  width: 80%;
  font-family: 'Arial';
  font-size: 20px;
}

.comprar{
  background-color: #5c6bc0;
}

.vender{

  background-color: #651fff;
}
